@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mate SC', serif;
    scroll-behavior: smooth;
    
}
p{
    font-weight: 300;
    color: #111;
}


.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(kit3.jpg);
    background-size: cover;
    

}
.banner .content{
    max-width: 900px;
    text-align: center;

}

.banner .content h2 {
    font-size: 5em;
    color: rgb(185, 58, 58);

}
.banner .content p{
    font-size: 1em;
    color: black;
    
}

  .btn{
      font-size: 1em;
      color: #fff;
      background: brown;
      display: inline-block;
      padding: 10px 30px;
      margin-top: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
      text-align: center;
     
    }
    .btn:hover{
        letter-spacing: 6px;
    }
    

    header{
        width: 100%;
        height: 75px;
        line-height: 75px;
        padding: 0px 100px;
        position: fixed;
        z-index: 1;
        
        font-family: 'Mate SC', serif;
    }
   
    
    
    header ul{
        float: right;

    }
    header ul li{
        display: inline-block;
        list-style: none;
    }
header ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
}
header ul li a:hover{
    color: black;
}
header ul li .active{
    color: brown;
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section p{
    font-size: 23px;
}


  
.row .col50{
    position: relative;
    width: 48%;

}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
    margin-top: 60px;
}
.titleText span{
    color: brown;
    font-weight: 700;
    font-size: 1.5em;

}
.row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;

}
.row .col50 .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8)
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    color:brown;
    font-size: 50px;
    text-align: center;
}
.container{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.767);
    background: transparent;
    padding: 15px;
    max-width: 900px;
    margin: auto;
    height:320px;
    text-align: center;
   margin-top: 80px;
}

input,textarea ,select{ 
    width: 40%;
    margin: 11px ;
    padding: 7px;
    font-size: 15px;
    border: 1px solid rgb(214, 191, 191);
    border-radius: 6px;
    
}
.button {
   
    font-size: 1em;
    color: #fff;
    background: brown;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.9s;
 }
 .button:hover{
    
     letter-spacing: 6px;
 }
.copyrightText{
    padding: 8px 40px;
    border-top: 1px slid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-align: center;
}
.feedback{
    background-color: rgb(218, 189, 189);
}
.order{
    background-color: rgb(235, 189, 189) ;
}
.menu{
    background-color: rgb(235, 197, 197) ;
}  
header.sticky{
    background: rgb(169, 228, 187);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
@media  (max-width: 991px){
    header,
    header .sticky
{
    padding: 10px 20px;
}
header .navigation{
    display:none;
}
section{
    padding: 20px;
}
.banner .content h2{
    font-size: 3em;
    color: rgb(248, 8, 0);

}
.row{
    flex-direction: column;
}
.row .col50{
    position: relative;
    width: 100%;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.menu .content .box{
    margin: 10px;

}
.menu .content .box .imgBx{
    height: 260px;
}
.title{
    text-align: center;

}
.titleText{
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
}
}
